body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.p-3 {
    padding: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.border-right {
    border-right: 1px solid #dee2e6;
}

.btn-grad {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB 51%, #1F1C2C 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.App {
    text-align: center;
}

input[type="file"] {
    margin: 20px 0;
}

.beg
{
    background-color: #D3D3D3;
}

.custom-sidebar {
    background-color: #f8f9fa;
    /* Light background color */
    padding: 20px;
    height: 100vh;
    width: 250px;
}

.custom-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #343a40;
    /* Dark text color */
    text-decoration: none;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    /* Spacing between links */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover effects */
}

.custom-nav-link:hover {
    background-color: #e2e6ea;
    /* Light hover background color */
    color: #8181db;
    /* Change text color on hover */
}

.custom-nav-link.active {
    background-color: #b8d783;
    /* Active link background color */
    color: white;
    /* Active link text color */
    font-weight: bold;
    /* Bold text for active link */
}


